# Dependencies
node_modules/

# Build output
dist/

# Environment


# Prisma
prisma/migrations/*_migration.sql

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Runtime
*.pid
*.seed

# Test
coverage/
